<h1>Список моделей</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Color</td>
      <td>Date</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of trafficLight">
      <ng-template [ngIf]="trafficLight?.id != t.id" [ngIfElse]="edit">
        <td>{{t?.id}}</td>
        <td>{{t?.color}}</td>
        <td>{{t?.date}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>

  <td>
    <input type="text" [(ngModel)]="trafficLight.color" class="form-control" />
  </td>
  <td>
    <input type="date" [(ngModel)]="trafficLight.date" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Color</label>
    <input type="text" [(ngModel)]="trafficLight.color" class="form-control" />
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="date" [(ngModel)]="trafficLight.date" class="form-control" />
  </div>
  
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
