@*
    @{
        ViewData["Title"] = "Index";
    }

    <h1>@ViewData["Title"]</h1>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/style.css">


    </head>
    <body>

        <div id="controlPanel">
            <h1 class="stopButton" onclick="illuminateRed()" id="button">Stop</h1>
            <h1 class="slowButton" id="button" onclick="illuminateYellow()">Slow</h1>
            <h1 class="goButton" id="button" onclick="illuminateGreen()">Go</h1>
        </div>

        <div class="container">
            <div class="circle" id="red"></div>
            <div class="circle" id="yellow"></div>
            <div class="circle" id="green"></div>
        </div>


        <script src="~/js/scripts.js"></script>
    </body>
    </html>
*@
<link rel="stylesheet" href="~/css/style.css">

<script src="~/js/scripts.js"></script>
<div id="traffic-light">
    <input type="radio" name="traffic-light-color" class="bulb" id="red" value="color1" />
    <input type="radio" name="traffic-light-color" class="bulb" id="orange" value="color2" />
    <input type="radio" name="traffic-light-color" class="bulb" id="green" value="color3" />


</div>

<div class="buttons">

    <input type="button" id="colorButton" value="Red" onclick="changeColor('red')">

    <input type="button" id="colorButton" value="Yellow" onclick="changeColor('orange')">

    <input type="button" id="colorButton" value="Green" onclick="changeColor('green')">


    <input type="button" id="colorButton" value="Next" onclick="setNextColor()">
</div>
